{% extends 'base.html' %}

{% block content %}
<div class="docviewer-wrapper">
    <div class="doc-main-content">
        <div class="doc-header">
            <span class="doc-version"><b>Version:</b> {{ version }}</span>
            <span class="doc-date"><b>Previous Update:</b> {{ date }}</span>
        </div>
        <div class="dashboard-content">
            {{ content|safe }}
        </div>
    </div>

    {% if toc %}
    <div class="doc-toc-sidebar">
        <h4>Contents</h4>
        <ul>
            {{ toc|safe }}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}